@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#020617;
color:white;
display:flex;
}

.auth-body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#020617;
}

.auth-container{
width:100%;
max-width:420px;
padding:20px;
}

.auth-box{
background:#071226;
padding:40px;
border-radius:25px;
border:1px solid rgba(255,255,255,0.05);
}

.auth-box h1{
margin-bottom:10px;
}

.auth-box p{
color:#94a3b8;
margin-bottom:30px;
}

.input-group{
margin-bottom:20px;
}

.input-group label{
display:block;
margin-bottom:10px;
}

.input-group input{
width:100%;
padding:15px;
border:none;
outline:none;
border-radius:14px;
background:#0f172a;
color:white;
}

.auth-btn{
width:100%;
padding:16px;
border:none;
border-radius:14px;
background:#00ff9d;
font-weight:700;
cursor:pointer;
margin-top:10px;
}

.auth-footer{
margin-top:20px;
text-align:center;
}

.auth-footer a{
color:#00ff9d;
text-decoration:none;
}

/* SIDEBAR */

.sidebar{
width:260px;
height:100vh;
position:fixed;
background:#071226;
padding:30px 20px;
}

.logo h1{
font-size:34px;
}

.logo span{
color:#00ff9d;
font-size:28px;
font-weight:700;
}

.menu{
margin-top:40px;
display:flex;
flex-direction:column;
gap:15px;
}

.menu a{
padding:16px;
border-radius:16px;
color:#94a3b8;
display:flex;
gap:12px;
align-items:center;
}

.menu .active{
background:rgba(0,255,157,0.15);
color:white;
}

.main{
margin-left:260px;
width:100%;
padding:30px;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
}

.profile{
display:flex;
align-items:center;
gap:10px;
}

.profile img{
width:50px;
height:50px;
border-radius:50%;
}

.hero{
margin-top:40px;
}

.hero h1{
font-size:50px;
}

.hero p{
margin-top:10px;
color:#94a3b8;
}

.cards{
margin-top:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
padding:25px;
border-radius:25px;
display:flex;
justify-content:space-between;
align-items:center;
}

.green-card{
background:linear-gradient(
135deg,
rgba(0,255,157,0.15),
rgba(0,255,157,0.02)
);
}

.blue-card{
background:linear-gradient(
135deg,
rgba(0,132,255,0.15),
rgba(0,132,255,0.02)
);
}

.red-card{
background:linear-gradient(
135deg,
rgba(255,59,92,0.15),
rgba(255,59,92,0.02)
);
}

.icon-box{
width:70px;
height:70px;
border-radius:20px;
display:flex;
justify-content:center;
align-items:center;
font-size:25px;
}

.green{
background:rgba(0,255,157,0.2);
color:#00ff9d;
}

.blue{
background:rgba(0,132,255,0.2);
color:#0084ff;
}

.red{
background:rgba(255,59,92,0.2);
color:#ff3b5c;
}

.chart-container{
margin-top:30px;
}

.chart-box{
background:#071226;
padding:25px;
border-radius:25px;
}

@media(max-width:900px){

body{
flex-direction:column;
}

.sidebar{
width:100%;
height:auto;
position:relative;
}

.main{
margin-left:0;
}

.hero h1{
font-size:35px;
}

.cards{
grid-template-columns:1fr;
}

}
