<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/static/css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div class="navbar">
    <div class="logo">AL-TRI FINANCE</div>

    <a href="/reports">
        <button class="btn">Laporan</button>
    </a>
</div>

<div class="dashboard">

    <div class="cards">

        <div class="card">
            <p>Total Saldo</p>
            <h2 class="green">Rp12.500.000</h2>
        </div>

        <div class="card">
            <p>Pemasukan</p>
            <h2 class="blue">Rp4.200.000</h2>
        </div>

        <div class="card">
            <p>Pengeluaran</p>
</html>
