<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>AL-TRI FINANCE</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="navbar">
    <div class="logo">AL-TRI FINANCE</div>

    <a href="/login">
        <button class="btn">Masuk</button>
    </a>
</div>

<section class="hero">

    <h1>Keuangan Modern Dengan AI</h1>

    <p>
        Kelola pemasukan dan pengeluaran dengan sistem AI,
        scanner struk, dashboard premium,
        dan laporan realtime.
    </p>

    <a href="/register">
        <button class="btn">Mulai Sekarang</button>
    </a>

</section>

</body>
</html>
